[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
docker = "ansible-playbook -i inventories/inventory.yml playbook/docker.yml"
docker-swarm = "ansible-playbook -i inventories/inventory.yml playbook/docker-swarm.yml"

[packages]
ansible = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.1"
